body {
  background-color: rgb(0, 150, 0);
}

.titulo {
  text-align: center;
  color: purple;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 400%;
  letter-spacing: 10px;
  -webkit-text-stroke: 0.01px black;
}

.cardy {
  display: inline-block;
  margin: 10% auto;
  height: 300px;
  width: 200px;
  background-color: white;
  padding: 20px;
  border: 1pox solid black;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;

  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.top-suit {
  position: absolute;
  font-size: 600%;
  top: 0%;
  left: 10%;
}

.bottom-suit {
  position: absolute;
  font-size: 600%;
  top: 65%;
  left: 70%;
}

.number {
  position: absolute;
  top: 35%;
  left: 40%;
  right: 50%;
  bottom: 50%;
  font-size: 600%;
}
